.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #333;
    color: white;
}

.header Link {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

.header Link:hover {
    color: #ddd;
}

.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
}

.navigation li Link {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

.navigation li Link:hover {
    color: #ddd;
}

.create {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffee58;
    color: rgb(69, 69, 69);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
}

.create:hover {
    background-color: #00a5f8;
    color: #ffffff;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00a5f8;
    color: rgb(255, 255, 255);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
}

.home:hover {
    background-color: #ffee58;
    color: #000;
}

.notes {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff951c;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
}

.notes:hover {
    background-color: #ffee58;
    color: #000;
}